<!DOCTYPE html>
<html lang="en">
	<head>
	  <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content = "width = device-width, minimal-ui, initial-scale = 1.0, user-scalable = no">

		<!-- Bootstrap CSS & custom CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type= "text/css" href= "{{ url_for("static", filename="style.css") }}">	  <!-- Required meta tags -->
		<script type="text/javascript" src="{{ url_for("static", filename="jquery.js") }}"></script>
		<script type="text/javascript" src="{{ url_for("static", filename="farbtastic.js") }}"></script>
		<link rel="stylesheet" href="{{ url_for("static", filename="farbtastic.css") }}" type="text/css" />
		<script type="text/javascript" charset="utf-8">
 $(document).ready(function() {
	 $('#demo').hide();
	 $('#picker').farbtastic('#color');
 });
</script>

		<title>Hi  !!</title>

	</head>
					<!-- Image and text -->
		<nav class="navbar navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">
		  </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    		<div class="navbar-nav">
      	<a class="nav-item nav-link" href="#">Features</a>
      	<a class="nav-item nav-link" href="#">Pricing</a>
      	<a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
		</nav>


	<body>

		<form action="" style="width: 400px;">
		  <div class="form-item"><label for="color">Color:</label><input type="text" id="color" name="color" value="#123456" /></div><div id="picker"></div>
		</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
